.newsletter-section {
  width: 100%;
  background: #563de6;          /* black */
  color: #0f0e0e;
  padding: 90px 20px 70px;
}

.newsletter-content {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.newsletter-content h2 {
  font-family: 'Jost', sans-serif;
  font-size: clamp(1.8rem, 0.5vw, 1.5rem);
  font-weight: 200;
  line-height: 1.2;
  margin-bottom: 22px;
  color: #060606;
}

.newsletter-description {
  max-width: 600px;
  margin: 0 auto 55px;
  font-size: 1.10rem;
  line-height: 1.55;
  color: rgba(255,255,255,.88);
}

.newsletter-form {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,.35);
}

.newsletter-form input {
  flex: 1;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 16px 0;
  font-size: 1.15rem;
  color: #fff;
}

.newsletter-form input::placeholder {
  color: rgba(255,255,255,.55);
}

.newsletter-form button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  padding-left: 18px;
  transition: .3s;
}

.newsletter-form button:hover {
  transform: translateX(6px);
}

.newsletter-success{
    margin-top:25px;
    font-size:1.1rem;
    color:#fff;
}